{% extends "website/base.html" %}
{% load static %}
{% block pagetitle %} About Me {% endblock %}

{% block pagelabel %}
<h5 class="head-title py-4" aria-label="About"></h5>
{% endblock %}


{% block content %}
<!-- start about -->
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 align-self-center">
                <img src="{% static 'images/personal/kps-transparent-2.png' %}" alt="" class="img-fluid ml-lg-5">
            </div>
            <!--end col-->
            <div class="col-lg-6 ms-auto align-self-center">
                <h5 class="fs-24 text-dark fw-medium mb-3">Personal Details</h5>
                <h4 class="fw-normal lh-base text-gray-700 mb-5 fs-20">I am an individual looking to work in an
                    organization where I will use my superpowers (technological abilities) to help improve
                    productivity, create tools and scripts to make our lives easier.
                </h4>

                <div class="mb-5 mb-lg-0">
                    <p class="mb-2">
                        <span class="personal-detail-title">Date of birth</span>
                        <span class="personal-detail-info">05 Feb 1997</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Spoken Langages</span>
                        <span class="personal-detail-info">English - Akan - Ewe</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Nationality</span>
                        <span class="personal-detail-info">Ghanaian</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Interest</span>
                        <span class="personal-detail-info">Music, Reading, Coding, Music</span>
                    </p>
                    <p class="mb-2">
                        <span class="personal-detail-title">Traits</span>
                        <span class="personal-detail-info">Analytical, Agile, Reasonable, Determined</span>
                    </p>
                </div>
                <div class="social mt-5">
                    <a href="#">
                        <i class="lab la-github github me-1"></i>
                    </a>
                    <a href="#">
                        <i class="lab la-twitter twitter me-1"></i>
                    </a>
                    <a href="#">
                        <i class="lab la-google google me-1"></i>
                    </a>
                    <a href="#">
                        <i class="lab la-linkedin-in linkedin me-1"></i>
                    </a>
                </div>
            </div>
            <!--end col-->
            {% include 'website/skills-block.html' %}
        </div>
        <!--end row-->
    </div>
    <!-- end container -->
</section>
<!-- end about -->

<!-- start resume -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Life
                    Time</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3 position-relative z-i-2">Education & Experience</h2>
                <div class="bg-text">
                    <h1 class="fw-bold p-0">Resume</h1>
                </div>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    What I am good at, what I have been up to, what I like doing. All About me!
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="main-timeline">
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Bsc. Computer Science</h3>
                                        <p class="description">
                                            Currently reading Computer Science in the
                                            University of Ghana. Level 300.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2019-Date</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-school"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Proficiency in IT Skills</h3>
                                        <p class="description">
                                            Took a three month course in IT Proficiency skills. Learnt basic concepts
                                            and skills in computing.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2018 - 2018</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Senior High School</h3>
                                        <p class="description">
                                            Did my high school course at Tashtech,
                                            where I read general arts with the options: Elective
                                            Mathematics, Economics, Geography, Government.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2015-2018</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-users"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Mini Project - Team Lead</h3>
                                        <p class="description">
                                            Lead a team of 10 to design, develop
                                            and deploy 'render' and platform where unskilled labour can find
                                            jobs suited for them.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2022-2022</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Software Developer</h3>
                                        <p class="description">
                                            Designed, developed and deployed an
                                            electronic voting platform for Tashtech, an SHS based in Ghana -
                                            Oti Region.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2022-2022</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Software Developer</h3>
                                        <p class="description">
                                            Joined PayHub Ghana Limited, a fintech
                                            company as a software developer.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2022-2022</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Freelance Developer</h3>
                                        <p class="description">
                                            Was the sole developer who designed,
                                            developed and deployed a product advertisement platform for
                                            Jamilahome Limited.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2022-2022</span></div>
                                </a>
                            </div>
                            <div class="timeline">
                                <a href="#" class="timeline-content">
                                    <div class="timeline-icon">
                                        <i class="ti ti-trophy"></i>
                                    </div>
                                    <div class="inner-content">
                                        <h3 class="title">Fullstack Developer</h3>
                                        <p class="description">
                                            Was part of a 3-member group that
                                            designed, developed and deployed a multi-vendor ecommerce
                                            platform for Techstuff.
                                        </p>
                                    </div>
                                    <div class="timeline-year"><span>2022-2022</span></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end resume -->

<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

{% include 'website/get_in_touch.html' %}


{% endblock %}