<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>devprincek - {% block pagetitle %} {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="portfolio site for devprincek. Founder of KPSTechnologies" />
    <meta name="keywords" content="KPSTechnologies, devprincek, portfolio site, freelancer" />
    <meta name="author" content="devprincek" />

    {% load static %}
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'images/logos/devprincek-sm.ico' %}" />

    <!-- css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/style-dark.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- colors -->
    <link href="{% static 'css/colors/default.css' %}" rel="stylesheet" type="text/css" id="color-opt" />
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="80">
    <!-- start navbar -->
    {% include "website/navbar.html" %}
    <!-- end navbar -->

    <!-- start hero -->
    <section class="hero-one position-relative bg-black" id="about" style="background-image: url({% static 'images/personal/main-bg.png' %}); background-size: cover;
        background-position: center center;">
        <div class="container">
            <div class="row align-items-center justify-content-center py-100">
                <div class="col-lg-7 text-center py-5 text-center">
                    {% block pagelabel %}
                    <h5 class="head-title py-4" aria-label="Contact"></h5>
                    {% endblock %}
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!-- end container -->
    </section>
    <!-- end hero -->
    <div class="position-relative">
        <div class="shape overflow-hidden text-white">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <!-- content goes here -->
    {% block content %}
    {% endblock %}
    <!-- end content -->




    <div class="position-relative">
        <div class="shape overflow-hidden bg-footer">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
            </svg>
        </div>
    </div>

    <!-- start footer -->
    {% include "website/footer.html" %}
    <!-- end footer -->

    <!-- Style switcher -->
    <div id="style-switcher" onclick="toggleSwitcher()">
        <div>
            <h3 class="fw-medium mb-0">Select Your Choice</h3>
            <hr class="hr-dashed my-3">
            <ul class="pattern">
                <li>
                    <a class="color1" href="javascript: void(0);" onclick="setColor('default')"></a>
                </li>
                <li>
                    <a class="color2" href="javascript: void(0);" onclick="setColor('info')"></a>
                </li>
                <li>
                    <a class="color3" href="javascript: void(0);" onclick="setColor('warning')"></a>
                </li>
                <li>
                    <a class="color4" href="javascript: void(0);" onclick="setColor('orange')"></a>
                </li>
                <li>
                    <a class="color5" href="javascript: void(0);" onclick="setColor('purple')"></a>
                </li>
                <li>
                    <a class="color6" href="javascript: void(0);" onclick="setColor('success')"></a>
                </li>
            </ul>
        </div>
        <div class="bottom">
            <a href="javascript: void(0);" class="settings rounded-end"><i class="las la-paint-brush fs-22"></i></a>
        </div>
    </div>
    <!-- end Style switcher -->

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/simplebar.min.js' %}"></script>
    <script src="{% static 'js/feather.js' %}"></script>
    <script src="{% static 'js/shuffle.min.js' %}"></script>
    <script src="{% static 'js/projects.init.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>