<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>devprincek - Resume</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="Portfoio and block site for devprince k" />
    <meta name="keywords" content="devprincek, devprince, portfolio, resume, personal blog site, blogpost, blogsite" />
    <meta name="author" content="devprincek" />

    <!-- load static files for django -->
    {% load static %}
    <link rel="shortcut icon" href="favicon.ico">


    <link rel="stylesheet" href="{% static 'css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/animations.css' %}" type="text/css">
</head>

<body>
    <!-- Animated Background -->
    <div class="lm-animated-bg" style="background-image: url({% static 'img/main_bg_3.jpg' %});"></div>
    <!-- /Animated Background -->

    <!-- Loading animation -->
    <div class="preloader">
        <div class="preloader-animation">
            <div class="dot dot-1"></div>
            <div class="dot dot-2"></div>
            <div class="dot dot-3"></div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                    <feColorMatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 21 -7" />
                </filter>
            </defs>
        </svg>
    </div>
    <!-- /Loading animation -->

    <div class="half-bg"></div>

    <div class="page">
        <div class="page-content">

            <header id="site_header" class="header mobile-menu-hide">
                <div class="header-content">
                    <div class="header-lng">
                        <ul>
                            <li>
                                <a href="#" class="active">En</a>
                            </li>
                            <li>
                                <a href="#">Fr</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-photo">
                        <img src="{% static 'img/main_photo.jpg' %}" alt="Alex Smith">
                    </div>
                    <div class="header-titles">
                        <h2>Prince Kyeremanteng</h2>
                        <h4>Web Developer</h4>
                    </div>
                </div>

                <ul class="main-menu">
                    <li>
                        <a href="#about-me" class="nav-anim">
                            <span class="menu-icon lnr lnr-user"></span>
                            <span class="link-text">About Me</span>
                        </a>
                    </li>
                    <li>
                        <a href="#resume" class="nav-anim">
                            <span class="menu-icon lnr lnr-graduation-hat"></span>
                            <span class="link-text">Resume</span>
                        </a>
                    </li>
                    <li>
                        <a href="#portfolio" class="nav-anim">
                            <span class="menu-icon lnr lnr-briefcase"></span>
                            <span class="link-text">My Works</span>
                        </a>
                    </li>
                    <li>
                        <a href="#blog" class="nav-anim">
                            <span class="menu-icon lnr lnr-book"></span>
                            <span class="link-text">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="#contact" class="nav-anim">
                            <span class="menu-icon lnr lnr-envelope"></span>
                            <span class="link-text">Contact</span>
                        </a>
                    </li>
                </ul>

                <div class="social-links">
                    <ul>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>

                <div class="info-list">
                    <ul>
                        <li>
                            <span class="value">+0123 123 456 789</span>
                        </li>

                        <li>
                            <span class="value"><a
                                    href="mailto:princesamuelpks@gmail.com">prince@devprincek.me</a></span>
                        </li>
                    </ul>
                </div>

                <div class="header-buttons">
                    <a href="#" target="_blank" class="btn btn-primary">Download CV</a>
                </div>

                <div class="copyrights">© 2022 All rights reserved. <a href="">devprincek</a> </div>
            </header>

            <!-- Mobile Navigation -->
            <div class="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <!-- End Mobile Navigation -->

            <!-- Arrows Nav -->
            <div class="lmpixels-arrows-nav">
                <div class="lmpixels-arrow-right"><i class="lnr lnr-chevron-right"></i></div>
                <div class="lmpixels-arrow-left"><i class="lnr lnr-chevron-left"></i></div>
            </div>
            <!-- End Arrows Nav -->

            {% block content %}
            {% endblock %}

        </div>
    </div>

    <!-- <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/modernizr.custom.js' %}"></script>
    <script src="{% static 'js/animating.js' %}"></script>

    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

    <script src="{% static 'js/validator.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v652eace1692a40cfa3763df669d7439c1639079717194"
        integrity="sha512-Gi7xpJR8tSkrpF7aordPZQlW2DLtzUlZcumS8dMQjwDHEnw9I7ZLyiOj/6tZStRBGtGgN6ceN6cMH8z7etPGlw=="
        data-cf-beacon='{"rayId":"71e889d45c118898","version":"2022.6.0","r":1,"token":"94b99c0576dc45bf9d669fb5e9256829","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>