{% extends "website/base.html" %}
{% load static %}
{% block pagetitle %} Blogs {% endblock %}

{% block pagelabel %}
<h5 class="head-title py-4" aria-label="Blogs"></h5>
{% endblock %}
<!-- start resume -->
{% block content %}
<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4 mb-4">
                    <img src="{% static 'images/personal/1.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">
                        <a href="" class="fs-20 my-0 d-block fw-medium">Change the world with small
                            things</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-7.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Charles Woodall</h6>
                                        <p class="mb-0 fs-12 text-muted">14 Feb 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4">
                    <img src="{% static 'images/personal/3.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">
                        <a href="" class="fs-20 my-0 d-block fw-medium">With a clean, minimal and
                            professional look</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-2.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Jarvis Owen</h6>
                                        <p class="mb-0 fs-12 text-muted">12 Jan 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4">
                    <img src="{% static 'images/personal/2.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">
                        <a href="" class="fs-20 my-0 d-block fw-medium">With a clean, minimal and
                            professional look</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-2.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Jarvis Owen</h6>
                                        <p class="mb-0 fs-12 text-muted">12 Jan 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!-- end row -->
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4">
                    <img src="{% static 'images/personal/4.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">

                        <a href="" class="fs-20 my-0 d-block fw-medium">Change the world with small
                            things</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-7.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Charles Woodall</h6>
                                        <p class="mb-0 fs-12 text-muted">14 Feb 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4">
                    <img src="{% static 'images/personal/5.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">
                        <a href="" class="fs-20 my-0 d-block fw-medium">With a clean, minimal and
                            professional look</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-2.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Jarvis Owen</h6>
                                        <p class="mb-0 fs-12 text-muted">12 Jan 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->

            <div class="col-lg-4 col-md-6">
                <div class="card shadow  mb-4">
                    <img src="{% static 'images/personal/6.jpg' %}" alt="" class="img-fluid rounded-top">
                    <div class="card-body">
                        <a href="" class="fs-20 my-0 d-block fw-medium">With a clean, minimal and
                            professional look</a>
                        <hr class="hr-dashed">
                        <div class="d-flex justify-content-between">
                            <div class="meta-box">
                                <div class="media">
                                    <img src="{% static 'images/users/user-2.jpg' %}" alt=""
                                        class="thumb-sm rounded-circle me-2 align-self-center">
                                    <div class="media-body align-self-center text-truncate">
                                        <h6 class="m-0 fs-14">Jarvis Owen</h6>
                                        <p class="mb-0 fs-12 text-muted">12 Jan 2022</p>
                                    </div>
                                    <!--end media-body-->
                                </div>
                            </div>
                            <!--end meta-box-->
                            <div class="align-self-center">
                                <a href="" class="fs-14">Read more <i
                                        class="ti ti-arrow-right align-self-center"></i></a>
                            </div>
                        </div>
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div>
            <!--end col-->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end resume -->

<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

{% include 'website/get_in_touch.html' %}

{% endblock %}