{% extends 'website/base.html' %}
{% load static %}
{% block menu %}
<ul class="main-menu">
    <li>
        <a href="/#about-me" class="nav-anim">
            <span class="menu-icon lnr lnr-user"></span>
            <span class="link-text">About Me</span>
        </a>
    </li>
    <li>
        <a href="/#resume" class="nav-anim">
            <span class="menu-icon lnr lnr-graduation-hat"></span>
            <span class="link-text">Resume</span>
        </a>
    </li>
    <li>
        <a href="/#portfolio" class="nav-anim">
            <span class="menu-icon lnr lnr-briefcase"></span>
            <span class="link-text">My Works</span>
        </a>
    </li>
    <li>
        <a href="/#blog" class="nav-anim">
            <span class="menu-icon lnr lnr-book"></span>
            <span class="link-text">Blog</span>
        </a>
    </li>
    <li>
        <a href="/#contact" class="nav-anim">
            <span class="menu-icon lnr lnr-envelope"></span>
            <span class="link-text">Contact</span>
        </a>
    </li>
</ul>
{% endblock %}
{% block content %}
<div class="content-area single-page-area">
    <div class="single-page-content">

        <article class="post">

            <div class="post-thumbnail">
                <img src="{% if blog.image %} {{blog.image.url}} {% else %} {% static 'img/blog/blog_post_1_full.jpg' %} {% endif %}"
                    alt="blog-image">
            </div>

            <div class="post-content">
                <!-- /Entry header -->
                <header class="entry-header">
                    <!-- Entry meta -->
                    <div class="entry-meta entry-meta-top">
                        <span><a href="#" rel="category tag">{{blog.category.name}}</a></span>
                    </div>
                    <!-- /Entry meta -->

                    <h2 class="entry-title">{{blog.title}}</h2>
                </header>
                <!-- /Entry header -->

                <!-- Entry content -->
                <div class="entry-content">
                    <div class="row">
                        <div class=" col-xs-12 col-sm-12 ">
                            <div class="col-inner">
                                {{blog.content|safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Entry content -->

                <div class="entry-meta entry-meta-bottom">
                    <div class="date-author">
                        <span class="entry-date">
                            <a href="#" rel="bookmark">
                                <i class="far fa-clock"></i> <span class="entry-date">{{blog.date|date:"M d Y"}}</span>
                            </a>
                        </span>
                        <span class="author vcard">
                            <a class="url fn n" href="#" rel="author"> <i class="fas fa-user"></i>
                                {{blog.author.username}}</a>
                        </span>
                    </div>

                    <!-- Share Buttons -->
                    <div class="entry-share btn-group share-buttons">
                        <a href="#"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            class="btn" target="_blank" title="Share on Facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a href="#"
                            onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                            class="btn" target="_blank" title="Share on Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a href="#"
                            onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"
                            class="btn" title="Share on LinkedIn">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                    <!-- /Share Buttons -->
                </div>

                <div class="post-tags">
                    <div class="tags">
                        {% for tag in tags %}
                        <a href="#" rel="tag">{{tag.name}}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>

    </div>
</div>

{% endblock %}