{% extends "website/base.html" %}
{% load static %}
{% block pagetitle %} Blog Details {% endblock %}

{% block pagelabel %}
<h5 class="head-title py-4" aria-label="Blog Details"></h5>
{% endblock %}
<!-- start resume -->
{% block content %}
<section class="section">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-9">
                <div class="card border-0 shadow-none">
                    <div class="card-body">
                        <div class="mb-5 text-center">
                            <p class="text-muted fw-semibold fs-18">{{blog.date|date:"d M Y"}}</p>
                            <h3 class="my-3 fs-28 d-block fw-medium text-dark">{{blog.title}}</h3>
                            <p class="text-muted fw-semibold fs-16">{{blog.subtitle}}</p>
                            {% for tag in tags %}
                            <span class="badge px-3 py-2 bg-light text-dark fw-semibold mt-3 fs-13">tag</span>
                            {% endfor %}
                        </div>
                        <img src="{% if blog.image %} {{blog.image.url}} {% else %} {% static 'images/personal/1.jpg' %} {% endif %} "
                            alt="Blog Image" class="img-fluid rounded d-flex mx-auto" />

                        <div class="my-5">
                            {{blog.content|safe}}
                        </div>
                        <div class="mb-5">
                            <h3 class="mt-3 fs-24 d-block fw-medium text-dark">Related Blog Posts</h3>
                            <p class="text-muted fw-semibold fs-14">{{blog.date|date:"d M Y"}}</p>
                            <div class="row">
                                <div class="col-12">
                                    <div
                                        class="row row-cols-xl-4 row-cols-lg-4 row-cols-md-2 g-3 justify-content-center">
                                        {% for item in related_blogs %}
                                        <div class="col">
                                            <a href="{% url 'website:blog_detail' blog.id %}"
                                                class="d-block bg-card shadow p-2 rounded catagories-box">
                                                <img src="{% if item.image %} {{item.image.url}} {% else %} {% static 'images/personal/6.jpg' %} {% endif %} "
                                                    alt="" class="img-fluid rounded mb-2">
                                                <h3 class="fs-15 m-0 fw-medium">{{item.title}}...</h3>
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!--end row-->
                                </div>
                                <!--end row-->
                            </div>
                            <hr class="hr-dashed my-3">
                            <div class="row">
                                <div class="col-md">
                                    <div class="media">
                                        <img src="{% static 'images/personal/kps-author.jpg' %}" alt=""
                                            class="thumb-sm rounded-circle me-2">
                                        <div class="media-body align-self-center text-truncate">
                                            <h6 class="m-0 text-dark fw-medium">{{blog.get_author_name}}</h6>
                                            <p class="mb-0 fs-12 text-muted fw-medium">Tech Enthusiast</p>
                                        </div>
                                        <!--end media-body-->
                                    </div>
                                    <!--end media-->
                                </div>
                                <!--end col-->
                                <div class="col-md-auto">
                                    <a href="{% url 'website:blogs' %}"
                                        class="btn btn-sm btn-outline-primary px-4">Blogs</a>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                        <!--end card-body-->
                    </div>
                    <!--end card-->
                </div>
                <!--end col-->
            </div>
            <!--end row-->
        </div>
        <!-- end container -->
</section>
<!-- end resume -->



<div class="position-relative">
    <div class="shape overflow-hidden text-light">
        <svg viewBox="0 0 2880 150" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M110 105L2160 0H2880V150H0V105H110Z" fill="currentColor"></path>
        </svg>
    </div>
</div>

{% include 'website/get_in_touch.html' %}

{% endblock %}