{% load static %}

<section class="section bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card bg-white" style="background: url({% static 'images/personal/testi-pet.png' %}); background-repeat:
                        no-repeat; background-size: 15%; background-position: right bottom;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h2 class="fs-2 fw-normal lh-1 text-dark mb-3">Get in touch !</h2>
                                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5">Always available for freelancing.
                                    If the right project <br> comes along, Feel free to contact me.</p>
                                <form method="POST" name="myForm" action="{% url 'website:contact' %}">
                                    {% csrf_token %}
                                    <span id="error-msg"></span>
                                    <div class="row">
                                        <div class="col-md-6 mb-3">
                                            <label class="fw-medium form-label fs-16" for="name">Name</label>
                                            <input type="text" class="form-control" placeholder="Your name" id="name"
                                                name="name" />
                                        </div>
                                        <!-- end col -->
                                        <div class="col-md-6 mb-3">
                                            <label class="fw-medium form-label fs-16" for="email">Email</label>
                                            <input type="email" class="form-control" placeholder="Your email"
                                                id="email" />
                                        </div>
                                        <!-- end col -->
                                        <div class="col-md-6 mb-3">
                                            <label class="fw-medium form-label fs-16" for="subject">Subject</label>
                                            <input type="text" class="form-control" placeholder="your subject"
                                                id="subject" name="subject" />
                                        </div>
                                        <!-- end col -->
                                        <div class="col-md-6 mb-3">
                                            <label class="fw-medium form-label fs-16" for="number">Contact</label>
                                            <input type="text" class="form-control" placeholder="0558366133" id="number"
                                                name="contact" />
                                        </div>
                                        <!-- end col -->
                                        <div class="col-12 mb-3">
                                            <label class="fw-medium form-label fs-16" for="comments">Message</label>
                                            <textarea class="form-control" id="comments" name="message"
                                                placeholder="Enter your message..." rows="5"></textarea>
                                        </div>
                                        <!-- end col -->
                                        <div class="col-12">
                                            <input type="submit" id="submit" name="send" class="btn btn-primary mt-2"
                                                value="Send message" />
                                        </div>
                                        <!-- end col -->
                                    </div>
                                    <!--end row-->
                                </form><!-- end form -->
                            </div><!-- end col -->
                            <div class="col-md-4">
                                <img src="{% static 'images/personal/contact.svg' %}" alt="" height="200"
                                    class=" mx-auto d-block mb-5">
                                <div class="d-flex">
                                    <div
                                        class="bg-light d-flex justify-content-center align-items-center thumb-lg rounded">
                                        <i class="ti ti-phone fs-22"></i>
                                    </div>
                                    <div class="align-self-center ms-3">
                                        <span class="d-block lh-1">+233 558 366 133</span>
                                        <span class="text-muted fs-14 mt-n2">9:00am to 9:00pm</span>
                                    </div>
                                </div>
                                <hr class="hr-dashed my-3">
                                <div class="d-flex">
                                    <div
                                        class="bg-light d-flex justify-content-center align-items-center thumb-lg rounded">
                                        <i class="ti ti-mail fs-22"></i>
                                    </div>
                                    <div class="align-self-center ms-3">
                                        <span class="d-block lh-1">prince@devpeincek.me</span>
                                        <span class="text-muted fs-14 mt-n2">All day everyday</span>
                                    </div>
                                </div>
                            </div>
                            <!--end col-->
                        </div><!-- end row -->
                    </div>
                    <!--end card-body-->
                </div>
                <!--end card-->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>