{% load static %}

<!-- start footer -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 border-e-dashed">
                <a href="{% url 'website:index' %}">
                    <img src="images/logos/devprincek-sm.png" alt="" height="48" />
                    <img src="images/logos/devprincek.png" alt="" height="48" />
                </a>
                <p class="my-4">Talk is cheap! Allow me to show you the Code.
                </p>
                <ul class="list-unstyled footer-social mb-0 mt-sm-0 mt-3">
                    <li class="list-inline-item">
                        <a href="#"> <i class="icon-xs" data-feather="facebook"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://twitter.com/PrinceS90322790" target="_blank"> <i class="icon-xs"
                                data-feather="twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://github.com/DevPrinceK" target="_blank"> <i class="icon-xs"
                                data-feather="github"></i> </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"> <i class="icon-xs" data-feather="instagram"></i> </a>
                    </li>
                </ul>
            </div><!-- end col -->
            <div class="col-lg-6 offset-lg-1">
                <div class="row">
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-5">Company</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#home">Home</a></li>
                            <li><a href="#about">About</a></li>
                            <li><a href="#services">services</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-4">Information</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#resume">Resume</a></li>
                            <li><a href="#review">Client Say</a></li>
                            <li><a href="#projects">Projects</a></li>
                        </ul>
                    </div><!-- end col -->
                    <div class="col-md-4">
                        <h6 class="text-footer mb-4 mt-sm-0 mt-4">More info</h6>
                        <ul class="list-unstyled footer-list">
                            <li><a href="#blogs">Blogs</a></li>
                            <li><a href="#contact">Contact</a></li>
                            <li><a href="#">Terms & condition</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->

<!-- start footer alter -->
<div class="footer-alt">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p> &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script> devprincek. Powered By <a href="javascript:void(0)">KPS Technologies</a></p>
            </div>
            <div class="col-sm-6 text-sm-end">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item"><a
                            href="https://www.digitalocean.com/?refcode=23c6af4b00f0&utm_campaign=Referral_Invite&utm_medium=Referral_Program&utm_source=badge"
                            target="_blank"><img style="height: 50px; width:auto;"
                                src="https://web-platforms.sfo2.cdn.digitaloceanspaces.com/WWW/Badge%201.svg"
                                alt="DigitalOcean Referral Badge" /></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end footer alter -->