  {% load static %}
  <section class="section bg-light cta-pettern" id="cta">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6">
                  <h2 class="text-dark" style="line-height: 1.5; position: relative;">Subscribe to my weekly blogpost.
                  </h2>
                  <p class="text-muted mb-0">Be the first to know when I publish a new blogpost.</p>
              </div>
              <!--end col-->
              <div class="col-lg-6 ml-auto">
                  <div class="cta-search">
                      <form class="position-relative" method="POST" action="{% url 'website:subscribe' %}">
                          {% csrf_token %}
                          <input type="email" placeholder="Email Address" name="email" required>
                          <button type="submit" class="btn btn-dark">Send Massage</button>
                      </form>
                  </div>
              </div>
              <!--end col-->
          </div>
          <!--end row-->
      </div>
      <!--end container-->
  </section>