{% load static %}
<section class="section" id="projects">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Work</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3">My Projects</h2>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    Browse through the amazing works I've done. Yours is next!
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-12 filters-group-wrap">
                <div class="filters-group mb-5">
                    <ul class="mb-0 list-unstyled filter-options filter-tab">
                        <li class="list-inline-item position-relative text-dark active" data-group="all">All</li>
                        <li class="list-inline-item position-relative text-dark" data-group="django">Django</li>
                        <li class="list-inline-item position-relative text-dark" data-group="javascript">Javascript</li>
                        <li class="list-inline-item position-relative text-dark" data-group="bootstrap">Bootstrap
                        </li>
                    </ul>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row d-flex g-1 justify-content-center" id="grid">
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["django"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl rounded">
                                <img src="{% static 'images/vote.svg' %}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">E-Voting Platform</h5>
                                <p class="text-muted mb-0 fs-13">http://www.tashtechsrc.live/ <a
                                        href="http://www.tashtechsrc.live/" target="_blank"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Python</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Django</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">MySQLite</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">ChartJS</span>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["javascript", "bootstrap"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl rounded">
                                <img src="{% static 'images/a.svg' %}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">Online Dictionary</h5>
                                <p class="text-muted mb-0 fs-13">https://kps-wordfarm.netlify.app/ <a
                                        href="https://kps-wordfarm.netlify.app/" target="_blank"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                        <span class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">CSS</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">FetchAPI</span>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["django"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                                <img src="{% static 'images/logos/nodejs-icon.svg' %}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">Render</h5>
                                <p class="text-muted mb-0 fs-13">http://www.renderjobs.com/ <a
                                        href="http://www.renderjobs.com/" target="_blank"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Django</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">ChartJS</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["javascript", "bootstrap"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                                <img src="{% static 'images/covid.svg' %}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">Covid Cases Worldwide</h5>
                                <p class="text-muted mb-0 fs-13">https://covid-alert.netlify.app/<a
                                        href="https://covid-alert.netlify.app/" target="_blank"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">FetchAPI</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 picture-item" data-groups='["javascript", "bootstrap"]'>
                <div class="card rounded shadow border-0 m-2">
                    <div class="card-body p-4 m-2">
                        <div class="media mb-3">
                            <div
                                class="bg-soft-alt-primary d-flex justify-content-center align-items-center thumb-xl rounded">
                                <img src="{% static 'images/inspire.svg' %}" alt="" class="thumb-md">
                            </div>
                            <div class="media-body ms-3 align-self-center">
                                <h5 class="text-dark fs-18 fw-medium m-0">Inspirational Quotes</h5>
                                <p class="text-muted mb-0 fs-13">https://kps-inspire.netlify.app/ <a
                                        href="https://kps-inspire.netlify.app/" target="_blank"><i
                                            class="ti ti-external-link fs-18 text-primary"></i></a></p>
                            </div>
                            <!--end media-body-->
                        </div>
                        <!--end media-->
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">FetchAPI</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Javascript</span>
                        <span
                            class="badge badge-lg rounded bg-soft-alt-info fw-normal fs-12 text-uppercase">Bootstrap</span>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>