{% load static %}
<section class="section bg-gradient-light-white" id="services">
    <div class="container">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-10 col-lg-7 text-center">
                <span class="badge badge-lg rounded bg-soft-alt-success fw-normal fs-13 text-uppercase">Services</span>
                <h2 class="fs-2 fw-medium lh-1 text-dark my-3">Our Services</h2>
                <p class="text-gray-700 fs-18 fs-lg mb-4 mb-md-5 lh-lg">
                    We craft digital, graphic and dimensional thinking, to create category leading brand experiences
                    that have meaning.
                </p>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-orange d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="layers" class="align-self-center svg-orange icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Ecommerce</h5>
                        <p class="text-muted pb-4">I design and build fast, safe, comprehensive and search engine
                            optimised ecommerce sites using cutting-edge technologies.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div class="bg-soft-alt-info d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="dollar-sign" class="align-self-center svg-info icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Management System</h5>
                        <p class="text-muted pb-4">I build all kinds of management systems such as School Management
                            System, Hospital Management System, etc.</p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">API Development</h5>
                        <p class="text-muted pb-4">I design secured APIs to connect your
                            database
                            to your frontend or any other software that may need access to your database.
                        </p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Web Development</h5>
                        <p class="text-muted pb-4">I do different kinds of web developments including, websites,
                            survey systems, to evoting platforms etc.
                        </p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Cloud Hosting</h5>
                        <p class="text-muted pb-4">I host web services like websites, web applications, APIs in the
                            cloud for you. I use platforms like DigitalOcean, AWS, Azure, etc.
                        </p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Tech Writing</h5>
                        <p class="text-muted pb-4">I write articles on emergince technologies and tutorial articles.
                            I show you how to use tech the right way.
                        </p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <div class="card rounded shadow border-0">
                    <div class="card-body p-4 m-2">
                        <div
                            class="bg-soft-alt-success d-flex justify-content-center align-items-center thumb-xl rounded">
                            <i data-feather="check-square" class="align-self-center svg-success icon-md"></i>
                        </div>
                        <h5 class="text-dark fs-22 fw-medium my-4">Tech Training</h5>
                        <p class="text-muted pb-4">I teach people to technology. How to Code, best prisciples in
                            Coding, Software Engineering etc.
                        </p>
                    </div><!-- end card-body -->
                </div><!-- end card -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>