{% load static %}

<div class="col-12 mt-5">
    <div class="d-flex flex-wrap justify-content-center mt-4 mt-md-5">
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/python-5.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Python</h6>
                    <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/django.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Django</h6>
                    <p class="text-muted mb-0 fs-12">1 Year Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/logos/bootstrap.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Bootstrap</h6>
                    <p class="text-muted mb-0 fs-12">1.5 Year Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/mysql-svgrepo-com.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">SQL</h6>
                    <p class="text-muted mb-0 fs-12">1 Year Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/postgresql-inc.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Postgresql</h6>
                    <p class="text-muted mb-0 fs-12">8 Months Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/digitalocean-icon-1.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">DigitalOCean</h6>
                    <p class="text-muted mb-0 fs-12">6 Months Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/github-icon-1.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Github</h6>
                    <p class="text-muted mb-0 fs-12">2 Year Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/html-1.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">HTML CSS</h6>
                    <p class="text-muted mb-0 fs-12">2 Years Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/logos/nodejs-icon.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">JavaScript</h6>
                    <p class="text-muted mb-0 fs-12">1.5 Years Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
        <!--/div-->
        <div class="mx-3 ms-sm-0 ms-sm-0 mb-3 card-bg rounded p-1 pe-3 p-md-3 pe-md-4 shadow-sm">
            <div class="d-flex align-items-center">
                <div class="thumb-md d-flex flex-wrap justify-content-center align-items-center">
                    <img src="{% static 'images/apache-13.svg' %}" alt="" class="" height="34">
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 fw-medium text-gray-700">Apache</h6>
                    <p class="text-muted mb-0 fs-12">5 Months Experience</p>
                </div>
            </div>
        </div>
        <!--/div-->
    </div><!-- End div -->
</div><!-- End Col -->